[submodule "apps/qtcloud-security"]
	path = apps/qtcloud-security
	url = https://github.com/quanttide/qtcloud-security.git
[submodule "packages/quanttide-security-toolkit"]
	path = packages/quanttide-security-toolkit
	url = https://github.com/quanttide/quanttide-security-toolkit.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-security-engineering.git
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-security-engineering.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-security-engineering.git
